<div class="col-md-3">
	<section class="well">
		<ul class="nav nav-pills nav-stacked">
		  <li role="presentation"><a href="/admin">Back to Dashboard</a></li>
		  <li role="presentation"><a href="#">Manage Orders</a></li>
		  <li role="presentation"><a href="#">Manage Courses</a></li>
		  <li role="presentation"><a href="#">Manage Categories</a></li>
		  <li role="presentation"><%= link_to 'Manage Users', users_path %></li>
		</ul>
	</section>
</div>