<% @page_title = 'YOUR CART' %>

<% if @order.nil? or @order.line_items.length == 0 %>
	
	<div class="well text-center">
		<h4>NO ITEMS IN YOUR CART.</h4><br/>
		<%= link_to 'Browse Courses', courses_path, class: 'btn btn-primary' %>
	</div>
	
<% else %>

	<ol class="breadcrumb text-center">
	  <li class="active">YOUR CART</li>
	  <li>ORDER INFORMATION</li>
	  <li>CONFIRM YOUR ORDER</li>
	</ol>

	<h3>Order Details</h3>

	<div class="well">
		<section class="col-md-8 col-md-offset-2">
			<div id="cart">
				<%= render @order %>
			</div>
			<%= link_to 'Checkout', checkout_order_path(@order), class: 'btn btn-primary btn-lg', style: 'float:right' %>
		</section>
		<section class="row">&nbsp;</section>
	</div>

<% end %>















