<% @page_title = 'ORDER SUCCESS!' %>

<div class="text-center">
	<%= image_tag 'check.png', size: '150x150' %>

	<section class="row">&nbsp;</section>
	<section class="row">&nbsp;</section>

	<p>Your Order has been placed successfully! You should receive an order confirmation via e-mail.</p>
	<p>You can also go to your user dashboard and check your order history.</p>
</div>
