<% @page_title = 'ABOUT' %>

<div class="col-md-3 text-center">
	<%= image_tag 'diy.png', width: '300', class: 'img img-thumbnail' %>
</div>

<div class="col-md-9">

	<h4>Do the following describe you?</h4>
	<ul>
		<li>Want to give your special person a special gift, not something ordinary off a shelf</li>
		<li>Don't want to have to browse through many websites to find the right idea</li>
		<li>Don't want to have to run to multiple stores and buy materials, and be left with lots of excess</li>
	</ul>

	<hr class="wide">

	<h4>The one-stop solution for finding DIY gift ideas and getting materials</h4>
	<p>The DIY Platform is a one-stop solution that takes care of your gifting needs. 
		From finding the best gift ideas, watching our step-by-step instruction videos to learn,
		to getting materials packages shipped to your door, all in one convenient place!</p>
	<p>Click on Courses to start browsing, and find the perfect special gift for your special someone!</p>

	<hr class="wide">

	<h4>Want some extra income, and love to teach others how to make DIY gifts?</h4>
	<p>We are always looking for more instructors and courses for our platform! 
		Simply sign up as a user and start uploading courses! Click Here to read more about the profit sharing scheme.
	</p>

	<hr class="wide">

</div>