<% @page_title = 'FREQUENTLY ASKED QUESTIONS' %>


<div class="panel-group" id="accordion">

	<h4>BUYER QUESTIONS</h4>

  <section class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          	How does it work?
          </a>
        </h4>
      </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <p>It's simple! Just browse through our courses in the Course page, 
        	find an idea that you like, and buy the video and/or materials to start making it!</p>
      </div>
    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					What payment methods do you accept?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We currently accept Cheque payment, Bank transfer and Credit Card payment via PayPal.</p>
        <p>For Cheque, please mail to 8E Pylon Tower, 12-16 Fui Yiu Kok Street, Tsuen Wan, N.T.</p>
        <p>For Bank Transfer, please make transfer to HSBC 123-456789-012. Please whatsapp transfer receipt to +852 1234-5678.</p>
        <p>For Credit Card, just follow the payment instruction on the website.</p>
      </div>
    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					I ordered materials but never received it!
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We apologize if this has happened to you. Please contact our 24 hours support at 
        	1-800-123-4567 or email us at support@diy.com. Please include your order number,
        	and we'll help you get it shipped or send you a refund as soon as possible.</p>
      </div>
    </div>
  </section>

  <hr class="wide">

  <h4>SELLER QUESTIONS</h4>

  <section class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
					What kind of courses can I upload?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <p>You should upload courses that are easy to follow via a video, 
        	and also the materials should be easy to ship. 
        	All videos will need to be approved before uploaded for the public to browse.</p>
      </div>
    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
					How do I get paid?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <p>All your profits shared from the sale will be credited to your account.
        	You can make a withdrawal with amount from $500 - $10000.
        	You can choose to be paid by Cheque, Bank Transfer, or PayPal transfer.</p>
      </div>
    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
					How does the profit sharing work?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        <p>For any video sales made, 50% of the sales amount will be credit to your account.
        	For any materials sales made, 75% of the sales amount will be credit to your account.
        	For sales made by your own client, 100% of the sales amount,
        	for both video and materials sales, will be credit to your account.</p>
      </div>
    </div>
  </section>

</div>
