<div class="jumbo-wrap">
	<div class="jumbotron">
	  <h2 class="call-to-action">MAKE THE PERFECT SPECIAL GIFT FOR <br/>
	  	YOUR SPECIAL SOMEONE</h2>
	  <p><a class="btn btn-primary btn-lg btn-lg" href="#" role="button">FIND IDEAS</a></p>
	</div>
</div>

<div class="row">
	<h3 style="text-align:center">Latest Ideas</h3>
	<hr/>
</div>

<div class="row">
	<div class="col-md-3 text-center">
		<img src="http://placehold.it/230x230" class="img-thumbnail center" />
		<h5>Valentine Self Made ...</h5>
		<p>By Stephen Leung</p>
	</div>
	<div class="col-md-3 text-center">
		<img src="http://placehold.it/230x230" class="img-thumbnail center" />
		<h5>Oragami Roses</h5>
		<p>By Stephen Leung</p>
	</div>
	<div class="col-md-3 text-center">
		<img src="http://placehold.it/230x230" class="img-thumbnail center" />
		<h5>Father's Day Self Made ...</h5>
		<p>By Stephen Leung</p>
	</div>
	<div class="col-md-3 text-center">
		<img src="http://placehold.it/230x230" class="img-thumbnail center" />
		<h5>Mother's Day hand-made ...</h5>
		<p>By Stephen Leung</p>
	</div>
</div>

<div class="row">&nbsp;</div>

<div class="row text-center">
	<a class="btn btn-primary btn-lg btn-lg" href="#" role="button">FIND MORE IDEAS</a>
	<hr/>
</div>















