<% @page_title = 'READ ME' %>

<p><strong>WELCOME TO MY DIY WEBSITE DEMO!</strong></p>

<p>This website's concept is to create a platform that allow users to search and find novel DIY gift ideas. On the other side, instructors will upload videos and make money off selling videos and materials.</p>

<p>It's not completely finished yet, but please feel free to play around and try out some functions such as:</p>
<ul>
	<li>Sign up as a new user</li>
	<li>Browse around the courses</li>
	<li>Add some videos and materials to your cart</li>
	<li>Checkout and make an order</li>
	<li>View your purchase history</li>
	<li>Upload your own course!</li>
	<li>Login as buyer@hello.com to buy your courses</li>
	<li>Manage your orders</li>
	<li>Login as ADMIN and play God mode!</li>
</ul>

<hr>

<p>Below are some pre-created accounts you can play around with:</p>

<p><strong>Admin Account</strong></p>
<p>Email: admin@hello.com</p>
<p>Password: 12345678</p>

<p><strong>User Account</strong></p>
<p>Email: seller@hello.com (already have some courses uploaded)</p>
<p>Password: 12345678</p>

<p>Email: buyer@hello.com</p>
<p>Password: 12345678</p>